h1{
    font-family: "Open Sans";
    text-align:center;
}

#description{
    font-size: x-large;
    text-align: center;
}

svg{
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 0;
    padding-top: 0;
}

#tooltip{
    position: absolute;
    padding:1em;
    margin-left:22em;
}

#legend{
    stroke: black;
    stroke-width: 1px;
}